{{#if addNewAnswer}}
<h2>My Answer:</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">

        <label for="rating">Answer:</label>
        {{input value=content id="content"}}
      </div>


        <button {{action 'saveAnswer'}} class="btn btn-success">Save</button>
      </form>
      <button {{action 'toggleAnswerForm'}} class="btn btn-warning">Hide Form</button>
      </div>{{else}}
      <button {{action 'toggleAnswerForm'}} class="btn btn-success">answerMe!</button>
      {{/if}}
