{{#if newQuestionFormShowing}}
<h1>New Question</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="owner">Author:</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="type">Question:</label>
        {{input value=question id="question"}}
      </div>

      <div class="form-group">
        <label for="city">Additional Notes:</label>
        {{textarea value=notes id="notes"}}
      </div>

      <button {{action 'saveQuestion'}} class="btn btn-success">Save</button>
    </form>
    <button {{action 'toggleQuestionForm'}} class="btn btn-warning">Hide Form</button>
  </div>{{else}}
  <button {{action 'toggleQuestionForm'}} class="btn btn-success">New Question</button>
{{/if}}
