{{#if newQuestionFormShowing}}
<h1>New Question</h1>
  <div>
    <form {{action 'saveQuestion' on='submit'}}>
      <div class="form-group">
        <label for="owner">Author:</label>
        {{input value=author id="author" required='required'}}
      </div>

      <div class="form-group">
        <label for="type">Question:</label>
        {{input value=content id="content" required='required'}}
      </div>

      <div class="form-group">
        <label for="city">Additional Notes:</label>
        {{textarea value=notes id="notes" required='required'}}
      </div>

      <button class="btn btn-success">Save</button>
    </form>
    <button {{action 'toggleQuestionForm'}} class="btn btn-warning">Hide Form</button>
  </div>{{else}}
  <button {{action 'toggleQuestionForm'}} class="btn btn-success">New Question</button>
{{/if}}
