<div class="question">
  <h3 {{action 'toggleContent'}}>Question: {{question.question}}</h3>

  {{#if questionContentShowing}}
    <p>Additional Notes: {{question.notes}}</p>
    <h4>Author: {{question.author}}</h4>
    <button class="btn btn-warning">Edit</button>
  {{/if}}
  {{update-question question=question update="update"}}
</div>
<hr>
