
  {{#each model.questions as |question|}}
  <h3>{{question-tile question=question update="update"}}</h3> 
  <div class="well">
    {{#each model.answers as |answer|}}
    <p>{{answer.content}} - by {{answer.author}}</p>

    {{/each}}
    {{new-answer saveAnswer="saveAnswer" question=model}}
  </div>
  {{/each}}
  {{new-question saveQuestion="saveQuestion"}}
